.first{
    height: 800px; 
    background-image: url(bg-01.jpg);
    background-repeat: no-repeat;
  width: 2200px; 
padding: 10px;
 margin-left: 250px; 
margin-top: 2%;

 
    
    background-size:contain;
}
.h1{
    font-size:24px;
    font-family: 'Poppins', sans-serif;
    color: rgb(249, 251, 253);
    text-align: center;
    margin-top: 180px;
    margin-right: 1890px;
}
.second{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: rgb(249, 251, 253);
   text-align:center;
   margin-top:40px;
   margin-right: 1680px;
   
}
.third{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
color: rgb(249, 251, 253);
     text-align: center;
   margin-top:5px;
   margin-right: 1785px;

}
.one{
    font-size:24px;
    font-family: 'Poppins', sans-serif;
    color: rgb(249, 251, 253);
    text-align: center;
    margin-top: 50px;
    margin-right:1900px;

}
.two{
    font-size:17px;
    font-family: 'Poppins', sans-serif;
    color: rgb(11, 189, 46);
    text-align: center;
    margin-top: 25px;
    margin-right:1855px;

}
.three{
    font-size:24px;
    font-family: 'Poppins', sans-serif;
    color: rgb(249, 251, 253);
    text-align: center;
    margin-top: 50px;
    margin-right:1830px;

}
.four{
    font-size:17px;
    font-family: 'Poppins', sans-serif;
    color: rgb(11, 189, 46);
    text-align: center;
    margin-top: 25px;
    margin-right:1805px;

}
.img1{
   width: 20px;
   
}
.img2{
    width: 15px;
}
.img3{
    width: 17px;
}
.form{
    
    margin-left: 850px;
    margin-top: -800px;
   
}
input{
    padding: 20px;
    
}
.submit{
    
    color: rgb(241, 245, 241);
    background-color: rgb(15, 190, 15);
    padding: 10px;
}
 .svg{
    text-align: center;
    font-size: 40px;
    margin-right: 600px;
   margin-bottom: 50px;
} 
.bor1{
   border: 1px solid black;
    padding: 20px 250px 15px 41px ;
    margin-top: 12px;
    letter-spacing: 1px;
}
.bor2{
    margin-top:14px;
}
.bor3{
    margin-left:-5px;
}
.bor4{
    border: 1px solid black;
    padding: 5px 274px 15px 41px ;

}
.bor5{
    margin-top: 14px;
    padding: 10px 250px 15px 2px ;
    margin-bottom: 13px ;
}
.bor6{
   border: 1px solid black;
    padding: 0px 274px 20px 29px ;
 margin-top: 5%;
 

}
.bor7{
    margin-top: 14px;
    padding: 10px 250px 15px 3px ;
    margin-bottom: 13px ;

}
.bor8{
    border: 1px solid black;
    padding: 5px 274px 15px 75px ;
    margin-top: 1000px ;
}
.bor9{
    margin-top: 40px;
    padding: 10px 37px 15px 3px ;
    margin-bottom: 20px ;
    
}

